@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat1';
  src: url('./tools/styles/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  --background:  #faf0e0;
  --foreground: #171717;
  --font-family: Montserrat1;
  color: #334155;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat1';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

